---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
	name: "Yosapol Jitrak",
	country: "Thailand",
	occupation: "Developer Freelance",
};

const skills = [
	"Leader 🌟",
	"DevSecOps",
	"Cloud Native",
	"IaC",
	"Backend Develop",
	"Game Develop",
	"Web Develop",
	"Mobile Develop",
];
const skillColor = "navy";
const fontWeight = "bold";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="m-4">
		<h2>My new Blog site!</h2>
		<ul>
			<li>My name is {identity.name}.</li>
			<li>
				I live in {identity.country} and I'm {identity.occupation}.
			</li>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="text-rose-500">- {skill}</li>)}
		</ul>
	</div>
</BaseLayout>
