---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";

const identity = {
	name: "Yosapol Jitrak",
	country: "Thailand",
	occupation: "Developer Freelancer",
};

const skills = [
	"Leader",
	"DevSecOps",
	"Cloud Native",
	"IaC",
	"Backend Develop",
	"Game Develop",
	"Web Develop",
	"Mobile Develop",
];
const skillColor = "navy";
const fontWeight = "bold";
---

<BaseLayout pageTitle={pageTitle}>
	<style define:vars={{ skillColor, fontWeight }}>
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
		}
	</style>
	<h2>My new Blog site!</h2>

	<ul>
		<li>My name is {identity.name}.</li>
		<li>
			I live in {identity.country} and I a {identity.occupation}.
		</li>
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
</BaseLayout>
