---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
const pageTitle = "Blog posts";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="m-4">
		<ol>
			{
				allPosts
					.sort(
						(a, b) =>
							new Date(b.frontmatter.pubDate).getTime() -
							new Date(a.frontmatter.pubDate).getTime()
					)
					.map((post) => (
						<BlogPost
							url={post.url}
							title={post.frontmatter.title}
							description={post.frontmatter.description}
							pubDate={post.frontmatter.pubDate}
						/>
					))
			}
		</ol>
	</div>
</BaseLayout>
